Django
Pillow-PIL
networkx
celery
kombu
redis
numpy
matplotlib
scipy
importlib-metadata
requests

pyopenssl
ndg-httpsclient
pyasn1
rpy2
pygraphviz
djangorestframework
mysqlclient

# For drawing newicks:
biopython

# for debugging:
ptvsd

